.map-column {
  -webkit-box-shadow: -5px 0px 10px 2px rgba(119, 108, 110, 0.62);
  -moz-box-shadow: -5px 0px 10px 2px rgba(119, 108, 110, 0.62);
  box-shadow: -5px 0px 10px 2px rgba(119, 108, 110, 0.62);
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
}
