<div class="row">
  <div class="col-7 col-md-7 col-lg-7 col-sm-12 col-xs-12">
    <form [formGroup]="propertyForm" (ngSubmit)="saveProperty()">
      <div class="col-md-12">
        <span class="anchor" id="formComplex"></span>
        <hr class="my-4">
        <h3>Formulario de Propiedades </h3>

        <div class="form-row mt-4">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12 pb-3">
            <label for="propertyName">Nombre</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
              id="propertyName" placeholder="Nombre de la propiedad">
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
              <div *ngIf="form.name.errors.required">El nombre es requerido</div>
            </div>
          </div>

          <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12 pb-3">
            <label for="propertyDescription">Descripción</label>
            <textarea class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && form.description.errors }"
              id="propertyDescription" placeholder="Descripción"></textarea>
            <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
              <div *ngIf="form.description.errors.required">La descripción es requerida</div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pb-3">
            <label for="propertyAddress">Dirección / Ubicación</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.address.errors }"
              id="propertyAddress" placeholder="Dirección / Ubicación">
            <div *ngIf="submitted && form.address.errors" class="invalid-feedback">
              <div *ngIf="form.address.errors.required">La dirección es requerida</div>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyCountry">País</label>
            <select class="custom-select" formControlName="country" [ngClass]="{ 'is-invalid': submitted && form.country.errors }"
              id="propertyCountry">
              <option value="">Seleccione un país</option>
              <option value="Colombia">Colombia</option>
            </select>
            <div *ngIf="submitted && form.country.errors" class="invalid-feedback">
              <div *ngIf="form.country.errors.required">El país es requerido</div>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyState">Departamento</label>
            <select class="custom-select" formControlName="state" [ngClass]="{ 'is-invalid': submitted && form.state.errors }"
              id="propertyState" (change)="onStateChanged($event.target)">
              <option value="">Seleccione un Departamento</option>
              <option *ngFor="let state of states | async" [value]="state.name"> {{ state.name }} </option>
            </select>
            <div *ngIf="submitted && form.state.errors" class="invalid-feedback">
              <div *ngIf="form.state.errors.required">El departamento es requerido</div>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyCity">Ciudad</label>
            <select class="custom-select" formControlName="city" [ngClass]="{ 'is-invalid': submitted && form.city.errors }"
              id="propertyCity">
              <option value="">Seleccione una Ciudad</option>
              <option *ngFor="let city of cities | async" [value]="city"> {{ city }} </option>
            </select>
            <div *ngIf="submitted && form.city.errors" class="invalid-feedback">
              <div *ngIf="form.city.errors.required">La ciudad es requerida</div>
            </div>
          </div>

          <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 pb-3">
            <label for="propertyArea">Área</label>
            <div class="input-group">
              <input type="text" formControlName="area" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.area.errors }"
                id="propertyArea" placeholder="Área">
              <div class="input-group-prepend"><span class="input-group-text">m<sup>2</sup></span></div>
              <div *ngIf="submitted && form.area.errors" class="invalid-feedback">
                <div *ngIf="form.area.errors.required">El área es requerida</div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyPriceM2">Precio Metro Cuadrado </label>
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">$</span></div>
              <input type="number" formControlName="priceM2" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.priceM2.errors }"
                id="propertyPriceM2" placeholder="Precio Metro Cuadrado">
              <div *ngIf="submitted && form.priceM2.errors" class="invalid-feedback">
                <div *ngIf="form.priceM2.errors.required">El precio por m2 es requerido</div>
              </div>
            </div>
          </div>

          <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 pb-3">
            <label for="propertyStratum">Estrato</label>
            <select class="custom-select" formControlName="stratum" [ngClass]="{ 'is-invalid': submitted && form.stratum.errors }"
              id="propertyStratum">
              <option value="">* Estrato *</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>5</option>
              <option>6</option>
            </select>
            <div *ngIf="submitted && form.stratum.errors" class="invalid-feedback">
              <div *ngIf="form.stratum.errors.required">El estrato es requerido</div>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyType">Tipo</label>
            <select class="custom-select" formControlName="type" [ngClass]="{ 'is-invalid': submitted && form.type.errors }"
              id="propertyType">
              <option value="">* Tipo *</option>
              <option>VIS</option>
              <option>Industrial</option>
              <option>Comercial</option>
              <option>Vivienda</option>
              <option>Mixto</option>
            </select>
            <div *ngIf="submitted && form.type.errors" class="invalid-feedback">
              <div *ngIf="form.type.errors.required">El tipo es requerido</div>
            </div>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyRegistration"># Matrícula</label>
            <input type="text" formControlName="registration" class="form-control" id="propertyRegistration"
              placeholder="Número de Matrícula">
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyChip">Chip</label>
            <input type="text" formControlName="chip" class="form-control" id="propertyChip" placeholder="Chip">
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pb-3">
            <label for="propertyColleague">Código de Colega (SB)</label>
            <input type="text" formControlName="colleage" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.colleage.errors }"
              id="propertyColleague" placeholder="Código de Colega (SB)">
            <div *ngIf="submitted && form.colleage.errors" class="invalid-feedback">
              <div *ngIf="form.colleage.errors.required">El código del colega es requerido</div>
              <div *ngIf="form.colleage.errors.minlength">El código debe serde 6 dígitos</div>
              <div *ngIf="form.colleage.errors.maxlength">El código debe serde 6 dígitos</div>
            </div>
          </div>

        </div>

        <div class="row justify-content-end mt-5">
          <div class="col-4 col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-5 col-md-5 col-lg-5 col-sm-12 col-xs-12 map-column">
    <app-map></app-map>
  </div>
</div>
