<div class="login-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6 card">
        <article class="card-body">
          <h4 class="card-title text-center mb-4 mt-1">Iniciar Sesión</h4>
          <hr>
          <p class="text-success text-center">Central de Predios para Constructores</p>
          <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="email" formControlName="email" class="form-control" placeholder="Correo" type="email" autofocus>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" formControlName="password" class="form-control" placeholder="Contraseña" type="password">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block"> Iniciar Sesión </button>
            </div>
            <p class="text-center">
              <a href="#" class="btn disabled">Olvidé mi constraseña</a>
            </p>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
